---
- name: Install Git
  become: true
  ansible.builtin.apt:
    name: git
    state: present

- name: Set hostname to be FQDN
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}.{{ domain }}"
    use: systemd

- name: Checkout pihole repo
  become: true
  ansible.builtin.git:
    repo: https://github.com/pi-hole/pi-hole.git
    dest: /opt/pihole
    force: true
  ignore_errors: true
  changed_when: false

- name: Tell User to install pihole
  ansible.builtin.debug:
    msg: "Make sure you install pihole with `/opt/pihole/automated install/basic-install.sh` !"

- name: TLS Cert
  block:
    - name: Get cert
      ansible.builtin.command: certbot certonly -n -d {{ inventory_hostname }}.localdomain --server https://ca.localdomain:8443/acme/acme/directory --agree-tos --email cohen@matthewbriancohen.com --webroot --webroot-path /var/www/html
      changed_when: false

    - name: Check if lets encrypt renewal hooks exists
      ansible.builtin.stat:
        path: /etc/letsencrypt/renewal-hooks/post
      register: pihole_le_path

    - name: Copy post hook for pihole
      become: true
      ansible.builtin.copy:
        src: pihole-pem.sh
        dest: /etc/letsencrypt/renewal-hooks/post
        owner: root
        group: root
        mode: "0755"
      when: pihole_le_path.stat.exists

    - name: Check if lets encrypt renewal conf exists
      ansible.builtin.stat:
        path: /etc/letsencrypt/renewal/{{ inventory_hostname }}/{{ domain }}.conf
      register: pihole_le_renewal

    - name: Edit renewal to happen at 14 day mark
      become: true
      ansible.builtin.lineinfile:
        path: /etc/letsencrypt/renewal/{{ inventory_hostname }}/{{ domain }}.conf
        regexp: .*renew_before_expiry.*
        line: renew_before_expiry = 14 days
      when: pihole_le_renewal.stat.exists
