---
- name: Populate service facts
  ansible.builtin.service_facts:

- name: Firewall rules
  when:
    - ansible_facts.services["firewalld.service"].status is defined
    - ansible_facts["distribution"] == "AlmaLinux"
  block:
    - name: Add Prometheus Node Exporter service to firewalld
      ansible.posix.firewalld:
        service: "{{ item }}"
        state: enabled
        immediate: true
        permanent: true
      loop: "{{ prometheus_client_ports }}"


- name: Install node-exporter (RHEL10)
  when: ansible_facts["distribution_major_version"] == "10"
  block:
    - name: Install node-exporter (rhel10)
      ansible.builtin.dnf:
        name: "{{ prometheus_client_package }}"
        state: present


- name: Install prometheus-node-exporter (RHEL10)
  when: ansible_facts["distribution_major_version"] == "9"
  block:
    - name: Install node-exporter (rhel9)
      ansible.builtin.dnf:
        name: "{{ prometheus_client_package_rhel9 }}"
        state: present

- name: Enable prometheus-node-exporter
  ansible.builtin.systemd_service:
    name: prometheus-node-exporter
    enabled: true
    state: started

- name: Add systemd and process collector
  ansible.builtin.lineinfile:
    path: /etc/default/prometheus-node-exporter
    regexp: "^ARGS="
    line: 'ARGS="--collector.systemd --collector.processes"'
  notify: Restart prometheus-node-exporter
