---
- name: Add DNS
  community.general.nmcli:
    conn_name:  ansible_facts['default_ipv4']['address']
    type: ethernet
    dns4:
      - "{{ dns_client_ipv4_server_1 }}"
      - "{{ dns_client_ipv4_server_2 }}"
    dns4_search:
      - "{{ dns_client_search }}"
    dns6:
      - "{{ dns_client_ipv6_server_1 }}"
      - "{{ dns_client_ipv6_server_2 }}"
    dns6_search:
      - "{{ dns_client_search }}"
    state: present
