---
- name: Install Podman
  block:
    - name: Install Podman
      ansible.builtin.dnf:
        name: podman
        state: present
    - name: Enable podman auto-update service
      ansible.builtin.systemd_service:
        name: podman-auto-update.timer
        enabled: true
        state: started

- name: Copy Prometheus config
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /opt/prometheus.yml
    owner: root
    group: root
    mode: "0664"
  notify: Restart Prometheus

- name: Create Prometheus podman volume
  containers.podman.podman_volume:
    name: prometheus-data
    state: present

- name: Pull Prometheus image
  containers.podman.podman_image:
    name: docker.io/prom/prometheus
    tag: latest

- name: Create Prometheus quadlet file
  containers.podman.podman_container:
    name: prometheus
    image: docker.io/prom/prometheus:latest
    ports: "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
    volume:
      - "/opt/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "prometheus-data:/prometheus"
    state: quadlet
    quadlet_filename: prometheus
    quadlet_dir: "/etc/containers/systemd/"
    quadlet_options:
      - "AutoUpdate=registry"
      - |
        [Service]
        Restart=always
        [Unit]
        Wants=network-online.target
        After=network-online.target
        [Install]
        WantedBy=default.target
  notify: Restart Prometheus
