{{ nfs_directory }} {{ nfs_ip_range }}(rw,sync,no_subtree_check,fsid=root,anonuid=1003,anongid=1003)
{{ nfs_directory }} {{ nfs_ip6_range }}(rw,sync,no_subtree_check,fsid=root,anonuid=1003,anongid=1003)
