server {
	listen	80;
	listen [::]:80;
	server_name {{ nginx_website }};
	root /var/www/html;
	include /etc/nginx/default.d/*.conf;

	location / {
	
		proxy_cache {{ nginx_website_base }}_cache;
		proxy_cache_use_stale error timeout http_500 http_502 http_503 http_504;
		proxy_cache_revalidate on;
		proxy_cache_background_update on;
		proxy_cache_lock on;
		try_files $uri $uri/ =404;
	}
}
