---
- name: Install MariaDB
  ansible.builtin.dnf:
    name:
      - mariadb-server
      - python3-PyMySQL
    state: present
  notify: Enable MariaDB
- name: Removes all anonymous user accounts
  community.mysql.mysql_user:
    name: ''
    host_all: true
    state: absent
    login_unix_socket: "{{ mariadb_socket }}"
- name: Remove test database
  community.mysql.mysql_db:
    name: test
    state: absent
    login_unix_socket: "{{ maria_dbsocket }}"
