---
- name: Set Ansible user to NOPASSWD in sudoers
  community.general.sudoers:
    name: 99-ansible
    state: present
    user: ansible
    runas: ALL
    commands: ALL
    host: ALL
    nopassword: true
    validation: required # this enforces sudoers validation

- name: Copy pty and log config
  ansible.builtin.copy:
    src: 69-pty-logs
    dest: /etc/sudoers.d/
    owner: root
    group: root
    mode: "0440"

- name: Copy ioreplay config
  ansible.builtin.copy:
    src: 69-sudo-io
    dest: /etc/sudoers.d/
    owner: root
    group: root
    mode: "0440"

- name: Copy io replay rotate systemd unit file
  ansible.builtin.copy:
    src: sudo-io-replay-rotate.service
    dest: /etc/systemd/system
    owner: root
    group: root
    mode: "0644"

- name: Copy io replay rotate timer
  ansible.builtin.template:
    src: sudo-io-replay-rotate.timer.j2
    dest: /etc/systemd/system/sudo-io-replay-rotate.timer
    owner: root
    group: root
    mode: "0644"

- name: Enable io replay rotate timer
  ansible.builtin.systemd_service:
    name: sudo-io-replay-rotate.timer
    state: started
    enabled: true
    daemon_reload: true
