---
- name: Create grafana account
  ansible.builtin.user:
    name: "{{ alloy_user }}"
    shell: /bin/bash
    password: "{{ vault_grafana_password | password_hash('sha512', vault_password_salt) }}"

- name: Install Podman
  block:
    - name: Install necessary packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      loop: "{{ alloy_packages }}"

    - name: Enable podman auto-update service
      ansible.builtin.systemd_service:
        name: podman-auto-update.timer
        enabled: true
        state: started

    - name: Enable linger
      become: true
      become_user: "{{ alloy_user }}"
      ansible.builtin.command: loginctl enable-linger "{{ alloy_user }}"
      changed_when: false

- name: Copy Alloy config
  ansible.builtin.template:
    src: config.alloy.j2
    dest: /opt/config.alloy
    owner: "{{ alloy_user }}"
    group: "{{ alloy_user }}"
    mode: "0664"
  notify: Restart Alloy

- name: Set up Alloy
  become: true
  become_user: "{{ alloy_user }}"
  notify: Restart Alloy
  block:
    - name: Pull Alloy image
      containers.podman.podman_image:
        name: docker.io/grafana/alloy
        tag: latest

    - name: Create Alloy quadlet file
      containers.podman.podman_container:
        name: alloy
        image: docker.io/grafana/alloy:latest
        network: host
        state: quadlet
        quadlet_filename: alloy
        quadlet_dir: "/home/{{ alloy_user }}/.config/containers/systemd"
        volume:
          - "/opt/config.alloy:/etc/alloy/config.alloy:z"
        publish:
          - 12345:12345
        command: "run --disable-reporting=true --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy"
        quadlet_options:
          - "AutoUpdate=registry"
          - |
            [Unit]
            Wants=network-online.target
            After=network-online.target
            [Service]
            Restart=always
            [Install]
            WantedBy=default.target
