---
- name: Install Squid
  ansible.builtin.package:
    name: squid
    state: present

- name: Create cache dir
  ansible.builtin.file:
    name: "{{ squid_cache_dir }}"
    state: directory
    owner: squid
    group: squid
    mode: "0750"

- name: Copy Squid config
  ansible.builtin.template:
    src: squid.conf.j2
    dest: /etc/squid/squid.conf
    owner: root
    group: squid
    mode: "0640"
  notify: Restart Squid

- name: Run Squid cache dir creation
  ansible.builtin.command: /sbin/squid -z
  changed_when: false

- name: Enable and start Squid
  ansible.builtin.systemd_service:
    name: squid
    enabled: true
    state: started
