---
- name: Initialize AIDE
  become: true
  ansible.builtin.command: /usr/sbin/aide -i
  changed_when: false

- name: Use new AIDE DB
  ansible.builtin.copy:
    remote_src: true
    src: /var/lib/aide/aide.db.new.gz
    dest: /var/lib/aide/aide.db.gz
    mode: preserve
