---
- name: Create torrent service account
  ansible.builtin.user:
    name: "{{ torrent_user }}"
    comment: Qbittorrent Service Account
    shell: /usr/bin/bash
    password: "{{ vault_files_torrent_password | password_hash('sha512', 'Dash0fSA1t') }}"

- name: Create torrent directory
  ansible.builtin.file:
    name: /srv/proto/torrents
    state: directory
    owner: "{{ torrent_user }}"
    group: "{{ torrent_user }}"
    mode: "0777"

- name: Create torrent config directory
  ansible.builtin.file:
    name: "{{ torrent_config_directory }}"
    state: directory
    owner: "{{ torrent_user }}"
    group: "{{ torrent_user }}"
    mode: "0777"

- name: Add qbittorrent custom firewalld service
  ansible.builtin.copy:
    src: qbittorrent.xml
    dest: /etc/firewalld/services/qbittorrent.xml
    owner: root
    group: root
    mode: "0644"

- name: Add qbittorrent firewalld service
  ansible.posix.firewalld:
    service: qbittorrent
    permanent: true
    immediate: true
    state: enabled

- name: Install necessary packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop: "{{ torrent_packages }}"

- name: Setup Podman
  block:
    - name: Install Podman
      ansible.builtin.dnf:
        name: podman
        state: present

    - name: Enable podman auto-update service
      ansible.builtin.systemd_service:
        name: podman-auto-update.timer
        enabled: true
        state: started

    - name: Enable linger
      become: true
      become_user: "{{ torrent_user }}"
      ansible.builtin.command: loginctl enable-linger "{{ torrent_user }}"
      changed_when: false

- name: Install Qbittorent-nox container
  block:
    - name: Pull nox image
      become: true
      become_user: "{{ torrent_user }}"
      containers.podman.podman_image:
        name: docker.io/qbittorrentofficial/qbittorrent-nox
        tag: latest

    - name: Create Nox quadlet file
      become: true
      become_user: "{{ torrent_user }}"
      containers.podman.podman_container:
        name: qbittorrent
        image: docker.io/qbittorrentofficial/qbittorrent-nox:latest
        ports: "{{ torrent_port }}:{{ torrent_port }}"
        volume:
          - "{{ torrent_config_directory }}:/config/qBittorrent:z"
          - "{{ torrent_torrent_directory }}:/downloads:z"
        env:
          TZ: America/Los_Angeles
        state: quadlet
        quadlet_filename: qbittorrent-nox
        quadlet_dir: "/home/{{ torrent_user }}/.config/containers/systemd"
        quadlet_options:
          - "AutoUpdate=registry"
          - |
            [Service]
            Restart=always
            [Unit]
            Wants=network-online.target
            After=network-online.target
            [Install]
            WantedBy=default.target
      notify: Restart qbittorrent-nox
