---
- name: Setup user account
  block:
    - name: Create netbox user
      ansible.builtin.user:
        name: netbox
        comment: netbox Service Account
        shell: /usr/bin/bash
        password: "{{ vault_netbox_netbox_password | password_hash('sha512', 'Dash0fSA1t') }}"

    - name: Disallow netbox user from SSH
      ansible.builtin.copy:
        src: 69-netbox.conf
        dest: /etc/ssh/sshd_config.d/69-netbox.conf
        owner: root
        group: root
        mode: "0644"
      notify: Restart SSHD

- name: Install Podman
  block:
    - name: Install necessary packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      loop: "{{ netbox_packages }}"

    - name: Enable podman auto-update service
      ansible.builtin.systemd_service:
        name: podman-auto-update.timer
        enabled: true
        state: started

    - name: Enable linger
      ansible.builtin.command: loginctl enable-linger netbox
      changed_when: false

    - name: Create volume mount
      ansible.builtin.file:
        state: directory
        path: /opt/netbox/config
        owner: netbox
        group: netbox
        mode: "0775"

    - name: Create db volume mount
      ansible.builtin.file:
        state: directory
        path: /opt/postgres
        owner: netbox
        group: netbox
        mode: "0775"

- name: Set up netbox container
  become: true
  become_user: netbox
  block:
    - name: Pull netbox image
      containers.podman.podman_image:
        name: lscr.io/linuxserver/netbox
        tag: latest

    - name: Pull postgres image
      containers.podman.podman_image:
        name: docker.io/postgres
        tag: 17.5

    - name: Pull redis image
      containers.podman.podman_image:
        name: docker.io/redis
        tag: 8.0.3

    - name: Create netbox podman network
      containers.podman.podman_network:
        name: netbox
        state: quadlet
        subnet: 192.168.22.0/24
        gateway: 192.168.22.1
        quadlet_options:
          - |
            [Unit]
            Wants=network-online.target
            After=network-online.target
            [Install]
            WantedBy=default.target

    - name: Create netbox pod
      containers.podman.podman_pod:
        name: netbox
        state: quadlet
        network: netbox.network
        quadlet_options:
          - |
            [Unit]
            Wants=network-online.target
            After=network-online.target
            [Service]
            Restart=always
            [Install]
            WantedBy=default.target

    - name: Create postgres quadlet file
      containers.podman.podman_container:
        name: netbox-db
        image: docker.io/postgres:17.5
        pod: netbox.pod
        network: netbox.network
        state: quadlet
        quadlet_filename: netbox-db
        quadlet_dir: "/home/netbox/.config/containers/systemd"
        volume:
          - /opt/postgres:/var/lib/postgresql/data:z
        env:
          POSTGRES_PASSWORD: "{{ vault_netbox_postgres_password }}"
          POSTGRES_USER: "netbox"
          POSTGRES_DB: "netbox"
        quadlet_options:
          - "AutoUpdate=registry"
          - |
            [Unit]
            Wants=netbox.network
            After=netbox.network
            Before=netbox-app.service
            [Service]
            Restart=always
            [Install]
            WantedBy=default.target

    - name: Create redis quadlet file
      containers.podman.podman_container:
        name: netbox-redis
        image: docker.io/redis:8.0.3
        pod: netbox.pod
        network: netbox.network
        state: quadlet
        quadlet_filename: netbox-redis
        quadlet_dir: "/home/netbox/.config/containers/systemd"
        quadlet_options:
          - "AutoUpdate=registry"
          - |
            [Unit]
            Wants=netbox.network
            After=netbox.network
            Before=netbox-app.service
            [Service]
            Restart=always
            [Install]
            WantedBy=default.target

    - name: Create netbox app quadlet file
      containers.podman.podman_container:
        name: netbox-app
        image: lscr.io/linuxserver/netbox:latest
        pod: netbox.pod
        network: netbox.network
        state: quadlet
        quadlet_filename: netbox-app
        quadlet_dir: "/home/netbox/.config/containers/systemd"
        volume:
          - /opt/netbox/config:/config:z
        publish:
          - 8000:8000
        env:
          PUID: "1001" # netbox user
          PGID: "1001" # netbox user
          TZ: "Etc/UTC"
          SUPERUSER_EMAIL: "cohen@matthewbriancohen.com"
          SUPERUSER_PASSWORD: "{{ vault_netbox_superuser_password }}" # superuser account that is created by default is "admin"
          ALLOWED_HOST: "box.netbox.localdomain"
          DB_NAME: "netbox"
          DB_USER: "netbox"
          DB_PASSWORD: "{{ vault_netbox_postgres_password }}"
          DB_HOST: "netbox-db"
          DB_PORT: "5432"
          REDIS_HOST: "netbox-redis"
          REDIS_PORT: "6379"
        quadlet_options:
          - "AutoUpdate=registry"
          - |
            [Unit]
            Wants=netbox.network netbox-db.service netbox-redis.service
            After=netbox.network netbox-db.service netbox-redis.service
            [Service]
            Restart=always
            [Install]
            WantedBy=default.target
      notify: Restart Netbox

    - name: Start Netbox
      ansible.builtin.systemd_service:
        name: netbox-pod
        daemon_reload: true
        scope: user
        state: started

    - name: Remind user to edit configuration.py
      ansible.builtin.debug:
        msg: "please edit /opt/netbox/config/configuration.py with the correct config details!"
