---
- name: Create grafana account
  ansible.builtin.user:
    name: "{{ prometheus_user }}"
    shell: /bin/bash
    password: "{{ vault_grafana_password | password_hash('sha512', 'Dash0fSA1t') }}"

- name: Install Podman
  block:
    - name: Install necessary packages
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      loop: "{{ grafana_packages }}"

    - name: Enable podman auto-update service
      ansible.builtin.systemd_service:
        name: podman-auto-update.timer
        enabled: true
        state: started

    - name: Enable linger
      become: true
      become_user: "{{ grafana_user }}"
      ansible.builtin.command: loginctl enable-linger "{{ grafana_user }}"
      changed_when: false

- name: Create Grafana podman volume
  containers.podman.podman_volume:
    name: grafana-storage
    state: present

- name: Set up Grafana
  become: true
  become_user: "{{ grafana_user }}"
  notify: Restart Grafana
  block:
    - name: Pull Grafana image
      containers.podman.podman_image:
        name: docker.io/grafana/grafana
        tag: latest

    - name: Create Grafana quadlet file
      containers.podman.podman_container:
        name: grafana
        image: docker.io/grafana/grafana:latest
        network: host
        state: quadlet
        quadlet_filename: grafana
        quadlet_dir: "/home/{{ grafana_user }}/.config/containers/systemd"
        volume:
          - "grafana-storage:/var/lib/grafana"
        publish:
          - 3000:3000
        quadlet_options:
          - "AutoUpdate=registry"
          - |
            [Unit]
            Wants=network-online.target
            After=network-online.target
            [Service]
            Restart=always
            [Install]
            WantedBy=default.target
