---
- name: Import GPG key
  ansible.builtin.rpm_key:
    state: present
    key: https://{{ grafana_url }}/gpg.key

- name: Create Grafana repo
  ansible.builtin.template:
    src: grafana.repo.j2
    dest: /etc/yum.repos.d/grafana.repo
    mode: "0644"

- name: Install Grafana and plugins
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop: "{{ grafana_packages }}"

  notify: Enable Grafana
- name: Install performance co pilot plugin
  ansible.builtin.command: grafana-cli plugins install performancecopilot-pcp-app
  changed_when: false

- name: Copy Grafana config
  ansible.builtin.copy:
    src: grafana.ini
    dest: /etc/grafana/grafana.ini
    user: root
    group: grafana
    mode: "0640"
  notify: Restart Grafana

- name: TLS Cert
  block:

    - name: Request TLS cert
      ansible.builtin.command: certbot certonly -n -d graphs.localdomain --server https://ca.localdomain:8443/acme/acme/directory --agree-tos --email cohen@matthewbriancohen.com --standalone
      changed_when: false

    - name: Enable certbot timer
      ansible.builtin.systemd_service:
        name: certbot-renew.timer
        enabled: true

    - name: Create symlinks to crt and key files in grafana directory
      ansible.builtin.file:
        state: link
        src: "/etc/letsencrypt/live/graphs.localdomain/{{ item.key }}"
        dest: "/etc/grafana/{{ item.value }}"
        owner: root
        group: grafana
        mode: "0440"
      loop: "{{ grafana_certs | dict2items }}"

    - name: Give Grafana group ownership and read/execute permissions on /etc/letsencrypt
      ansible.builtin.file:
        path: /etc/letsencrypt
        owner: root
        group: grafana
        mode: g+rx
        recurse: true
