---
- name: Enable Loki
  ansible.builtin.systemd_service:
    name: loki
    enabled: true
    state: started

- name: Restart Loki
  ansible.builtin.systemd_service:
    name: loki
    state: restarted
