---
- name: Restart Loki
  become: true
  become_user: "{{ loki_user }}"
  ansible.builtin.systemd_service:
    name: loki
    scope: user
    daemon_reload: true
    state: restarted

- name: Restart firewalld
  ansible.builtin.systemd_service:
    name: firewalld
    state: restarted
