---
- name: Install podman
  become: true
  ansible.builtin.dnf:
    name: podman
    state: present
- name: Create Flyimg quadlet file
  containers.podman.podman_container:
    name: flyimg
    image: docker.io/flyimg/flyimg:latest
    state: quadlet
    quadlet_filename: flyimg
    quadlet_dir: "{{ ansible_user_dir }}/.config/containers/systemd"
    ports:
      - 8000:80
    quadlet_options:
      - "AutoUpdate=registry"
      - |
        [Service]
        Restart=always
        [Install]
        WantedBy=default.target
  notify: Start Flyimg Systemd unit file
