[global]
workgroup = SAMBA
security = user
passdb backend = tdbsam
server string = Samba Server %v
map to guest = bad user
guest account = guest
fruit:copyfile = yes

[guest_share]
comment = guest share
path = {{ smb_directory }}/{{ smb_guest_share }}
guest ok = yes
guest only = yes
writeable = yes
printable = no
create mask = 0666
force create mode = 0666
force directory mode = 0777
browseable = yes
