---
- name: Install AIDE
  ansible.builtin.dnf:
    name: aide
    state: present
  notify:
    - Initialize AIDE
    - Use new AIDE DB

- name: Remove old AIDE cronjob
  ansible.builtin.cron:
    name: "run aide check"
    state: absent

- name: Copy aide config
  ansible.builtin.copy:
    src: aide.conf
    dest: /etc/aide.conf
    owner: root
    group: root
    mode: "0600"

- name: Copy aide-check cgroup slice
  ansible.builtin.template:
    src: aide-check.slice.j2
    dest: /etc/systemd/system/aide-check.slice
    owner: root
    group: root
    mode: "0644"

- name: Copy aide-check systemd unit file
  ansible.builtin.copy:
    src: aide-check.service
    dest: /etc/systemd/system
    owner: root
    group: root
    mode: "0644"

- name: Copy aide-check timer
  ansible.builtin.template:
    src: aide-check.timer.j2
    dest: /etc/systemd/system/aide-check.timer
    owner: root
    group: root
    mode: "0644"

- name: Enable aide-check timer
  ansible.builtin.systemd_service:
    name: aide-check.timer
    state: started
    enabled: true
    daemon_reload: true
