# This is set with Ansible in the prometheus role
# global config
global:
  scrape_interval: 1m
  evaluation_interval: 1m
  scrape_timeout: 10s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:

  - job_name: "firewall"
    static_configs:
      - targets: [{% for item in prometheus_fw_hosts %}"{{ item }}:{{ prometheus_port }}"{%if item != prometheus_fw_hosts[-1]%},{% endif %}{% endfor %}]
  - job_name: "homelab"
    static_configs:
      - targets: [{% for item in prometheus_home_hosts %}"{{ item }}:{{ prometheus_port }}"{%if item != prometheus_home_hosts[-1]%},{% endif %}{% endfor %}]
  - job_name: "mbc"
    static_configs:
      - targets: [{% for item in prometheus_mbc_hosts %}"{{ item }}:{{ prometheus_port }}"{%if item != prometheus_mbc_hosts[-1]%},{% endif %}{% endfor %},{% for item in prometheus_mbc_hosts %}"{{ item }}:{{ prometheus_systemd_port }}"{%if item != prometheus_mbc_hosts[-1]%},{% endif %}{% endfor %}]
