---
- name: Populate service facts
  ansible.builtin.service_facts:
- name: Install debug tool
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop: "{{ debug_packages }}"

- name: Open up test port
  ansible.posix.firewalld:
    port: 9999/tcp
    state: enabled
    permanent: true
    immediate: true
  when: ansible_facts.services['firewalld.service'].status is defined
