---
- name: Install necessary packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop: "{{ wazuh_packages }}"

- name: Add wazuh custom firewalld service
  ansible.builtin.copy:
    src: wazuh.xml
    dest: /etc/firewalld/services/wazuh.xml
    owner: root
    group: root
    mode: "0644"
  notify: Restart firewalld

- name: Add wazuh firewalld service
  ansible.posix.firewalld:
    service: wazuh
    permanent: true
    immediate: true
    state: enabled

- name: Change wazuh agent port to 2514 # the default 1514 I use for rsyslog
  ansible.builtin.lineinfile:
    path: /var/ossec/etc/ossec.conf
    regexp: '<port>\d514<\/port>'
    line: <port>2514</port>

- name: Enable email alerts
  block:
    - name: Enable email notifications
      ansible.builtin.lineinfile:
        path: /var/ossec/etc/ossec.conf
        regexp: '<email_notification>'
        line: <email_notification>yes</email_notification>

    - name: Enable smtp
      ansible.builtin.lineinfile:
        path: /var/ossec/etc/ossec.conf
        regexp: '<smtp_server>'
        line: "<smtp_server>{{ wazuh_server_mail_server }}</smtp_server>"

    - name: Set sender email address
      ansible.builtin.lineinfile:
        path: /var/ossec/etc/ossec.conf
        regexp: '<email_from>'
        line: "<email_from>{{ wazuh_server_sender }}</email_from>"

    - name: Set recipient email address
      ansible.builtin.lineinfile:
        path: /var/ossec/etc/ossec.conf
        regexp: '<email_to>'
        line: "<email_to>{{ wazuh_server_recipient }}</email_to>"

- name: TLS Cert
  block:
    - name: Run certbot
      ansible.builtin.command: certbot certonly -n --standalone -d wazuh.localdomain --server https://ca.localdomain:8443/acme/acme/directory --agree-tos --email cohen@matthewbriancohen.com
      changed_when: false

    - name: Copy Root CA to Wazuh directory
      ansible.builtin.copy:
        remote_src: true
        src: /root/.step/certs/root_ca.crt
        dest: /etc/wazuh-dashboard/certs/step_root_ca.pem
        mode: "0500"

    - name: Add Root CA to Wazuh dashboard trust
      ansible.builtin.lineinfile:
        path: /etc/wazuh-dashboard/opensearch_dashboards.yml
        regexp: '^opensearch.ssl.certificateAuthorities'
        line: 'opensearch.ssl.certificateAuthorities: ["/etc/wazuh-dashboard/certs/root-ca.pem", "/etc/wazuh-dashboard/certs/step_root_ca.pem"]'

    - name: Copy TLS certs
      ansible.builtin.copy:
        remote_src: true
        src: "{{ wazuh_server_tls_directory_src }}/{{ item }}"
        dest: "{{ wazuh_server_tls_directory_dest }}/{{ item }}"
        owner: wazuh-dashboard
        group: wazuh-dashboard
        mode: "0440"
      loop: "{{ wazuh_server_tls_certs }}"

    - name: Modify Lets Encrypt conf to set renewal at 14 days
      ansible.builtin.lineinfile:
        path: "/etc/letsencrypt/renewal/{{ inventory_hostname }}.{{ domain }}.conf"
        regexp: "renew_before_expiry"
        line: "renew_before_expiry = 14 days"

    - name: Enable certbot renewal timer
      ansible.builtin.systemd_service:
        name: certbot-renew
        enabled: true
        state: started

    - name: Copy renewal hook
      ansible.builtin.copy:
        src: wazuh.sh
        dest: /etc/letsencrypt/renewal-hooks/post
        owner: root
        group: root
        mode: "0755"
